<div class="container">
  <div class="header-box">
    <h1 class="header">EchoText</h1>
  </div>
  <div class="flex flex-col gap-8 lg:flex-row">
    <div class="window-frame-component">
      <app-window-frame />
    </div>
    <div class="analytics-board-component">
      <p>Analytics Board</p>
    </div>
  </div>

  <div class="operations-grid">
    <app-image-preview />

    <app-upload-image />
    <app-textbox-output />
    <p>Menu Controls</p>
    <app-voice-audio class="span-col" />
  </div>
</div>
