<div class="upload-img-container">
  <form
    [formGroup]="imageData"
    (ngSubmit)="onFormSubmit()"
    class="upload-img-form"
  >
    <div class="upload-img-div">
      <div class="upload-img-div-2">
        <label for="image_upload" class="form-heading">Upload Image</label>
        <input
          formControlName="imageFile"
          type="file"
          class="input-image"
          required
        />
        <button class="upload-btn" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
